body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: larger;
  display: block;
  margin-bottom: 2px;
  border: 1px solid green;
}
h2 {
  font-size: medium;
  color: grey;
  font-weight: normal;
  display: block;
  margin-top: 0;
}
p {
  display: block;
}

.card_wrapper {
  display: grid;
  grid-template-columns: 2;
  column-gap: 4%;
  grid-auto-columns: 45%;
  grid-template-rows: 1;
  grid-template-areas: "c m";
}

.carla_main {
  border: 2px solid rgb(199, 196, 196);
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 20% 15% 30% 35%;
  grid-area: c;
  grid-template-areas:
    "h h h h h h h h h i i i"
    "t t t t t t t t t i i i"
    "p p p p p p p p p p p p"
    "b b b b b b b b b b b b";
}
.carla_main > * {
  margin-left: 15px;
}
.carla-1 {
  grid-area: h;
  margin-top: 15px;
}
.carla-2 {
  grid-area: t;
  border: 1px solid blue;
}
.carla-p {
  grid-area: p;
  border: 1px solid red;
  margin-right: 15px;
}
.button-wrapper {
  grid-area:b;
  border-top:solid 2px rgb(199, 196, 196);
  display:flex;
  justify-content: center;
  align-content: center;
}
.approve-c {
  flex-grow:1;
}
.decline-c {
  flex-grow:1;
}
.p-c {
  grid-area: i;
  width: 40%;
  margin-top: 15px;
  align-self: center;
  justify-self: center;
}

.marijn_main {
  border: 2px solid rgb(199, 196, 196);
  border-radius: 5px;
  grid-area: m;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 20% 15% 30% 35%;
  grid-template-areas:
    "h h h h h h h h h i i i"
    "t t t t t t t t t i i i"
    "p p p p p p p p p p p p"
    "b b b b b b b b b b b b";
}
.marijn_main > * {
  margin-left: 15px;
}
.marijn-1 {
  grid-area: h;
  margin-top: 15px;
}
.marijn-2 {
  grid-area: t;
  border: 1px solid blue;
}
.marijn-p {
  grid-area: p;
  border: 1px solid red;
  margin-right: 15px;
}

.p-m {
  grid-area: i;
  width: 40%;
  margin-top: 15px;
  align-self: center;
  justify-self: center;
}

div[class*="approve"] {
  margin-right:0;
  color: rgb(22, 245, 22);
  border-left: 2px solid;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: rgb(22, 245, 22);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-weight: bold;
  line-height: 30px;
  height: 30px;
  text-align:center;
  flex-grow:1
}

div[class*="decline"] {
  margin-left:0;
  display: block;
  color: red;
  border: 2px solid;
  border-color: red;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-right: 25%;
  margin-bottom: 15px;
  font-weight: bold;
  line-height: 30px;
  height: 30px;
  text-align:center;
  flex-grow:1;
}
  
